/bootstrap/compiled.php
/vendor
/components
/node_modules
/data
/public_html/images/catalogs/
/public_html/images/products/
/public_html/images/galleries/
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
*.log
*.sqlite