{% extends 'layouts/main.html.twig' %}

{% block head_title %}Full width{% endblock %}

{% block features_active_class %}active{% endblock %}

{% block content %}

<!-- start: Container -->
<div class="container">

    <!-- start: Page header / Breadcrumbs -->
    <section class="breadcrumbs">
        <div class="page-header">
            <h1>Tabla de precios<small></small></h1>
        </div>
        <div class="breadcrumbs">
            Usted se encuentra aquí: <a href="#">Inicio</a><i class="icon-angle-right "></i>Tabla de precios
        </div>
    </section>
    <!-- end: Page header / Breadcrumbs -->

    <div class="row">

        <!-- start: Page section -->
        <section id="page-sidebar" class="span12">

            <div class="page-inner">
                <div class="row-fluid pricing">
                    <div class="span2">
                        <div class="well">
                            <h4 class="pricing-plan">Principiante</h4>
                            <h4 class="pricing-price">$9.99 <small>al mes</small></h4>
                            <ul class="pricing-list">
                                <li>5 Artículos</li>
                                <li>5 Invitaciones</li>
                                <li>5 Productos</li>
                                <li>24/7 Soporte</li>
                            </ul>
                            <div class="well"><a href="#" class="btn btn-block btn-large btn-inverse">Suscribirse</a></div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="well featured">
                            <h4 class="pricing-plan">Basico</h4>
                            <h4 class="pricing-price">$12.99 <small>al mes</small></h4>
                            <ul class="pricing-list">
                                <li>5 Artículos</li>
                                <li>5 Invitaciones</li>
                                <li>5 Productos</li>
                                <li>24/7 Soporte</li>
                            </ul>
                            <div class="well"><a href="#" class="btn btn-block btn-large btn-primary">Suscribirse</a></div>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="well">
                            <h4 class="pricing-plan">Advanced</h4>
                            <h4 class="pricing-price">$15.99 <small>al mes</small></h4>
                            <ul class="pricing-list">
                                <li>5 Artículos</li>
                                <li>5 Invitaciones</li>
                                <li>5 Productos</li>
                                <li>24/7 Soporte</li>
                            </ul>
                            <div class="well"><a href="#" class="btn btn-block btn-large btn-inverse">Suscribirse</a></div>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="well">
                            <h4 class="pricing-plan">Premium</h4>
                            <h4 class="pricing-price">$19.99 <small>al mes</small></h4>
                            <ul class="pricing-list">
                                <li>5 Artículos</li>
                                <li>5 Invitaciones</li>
                                <li>5 Productos</li>
                                <li>24/7 Soporte</li>
                            </ul>
                            <div class="well"><a href="#" class="btn btn-block btn-large btn-inverse">Suscribirse</a></div>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="well">
                            <h4 class="pricing-plan">Premium</h4>
                            <h4 class="pricing-price">$19.99 <small>al mes</small></h4>
                            <ul class="pricing-list">
                                <li>5 Artículos</li>
                                <li>5 Invitaciones</li>
                                <li>5 Productos</li>
                                <li>24/7 Soporte</li>
                            </ul>
                            <div class="well"><a href="#" class="btn btn-block btn-large btn-inverse">Suscribirse</a></div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row-fluid pricing">
                    <div class="span3">
                        <div class="well">
                            <h4 class="pricing-plan">principiante</h4>
                            <h4 class="pricing-price">$9.99 <small>al mes</small></h4>
                            <ul class="pricing-list">
                                <li>5 Artículos</li>
                                <li>5 Invitaciones</li>
                                <li>5 Productos</li>
                                <li>24/7 Soporte</li>
                            </ul>
                            <div class="well"><a href="#" class="btn btn-block btn-large btn-inverse">Suscribirse</a></div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="well featured">
                            <h4 class="pricing-plan">Basico</h4>
                            <h4 class="pricing-price">$12.99 <small>al mes</small></h4>
                            <ul class="pricing-list">
                                <li>5 Artículos</li>
                                <li>5 Invitaciones</li>
                                <li>5 Productos</li>
                                <li>24/7 Soporte</li>
                            </ul>
                            <div class="well"><a href="#" class="btn btn-block btn-large btn-primary">Suscribirse</a></div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="well">
                            <h4 class="pricing-plan">Avanzado</h4>
                            <h4 class="pricing-price">$9.99 <small>al mes</small></h4>
                            <ul class="pricing-list">
                                <li>5 Artículos</li>
                                <li>5 Invitaciones</li>
                                <li>5 Productos</li>
                                <li>24/7 Soporte</li>
                            </ul>
                            <div class="well"><a href="#" class="btn btn-block btn-large btn-inverse">Suscribirse</a></div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="well">
                            <h4 class="pricing-plan">Premium</h4>
                            <h4 class="pricing-price">$9.99 <small>al mes</small></h4>
                            <ul class="pricing-list">
                                <li>5 Artículos</li>
                                <li>5 Invitaciones</li>
                                <li>5 Productos</li>
                                <li>24/7 Soporte</li>
                            </ul>
                            <div class="well"><a href="#" class="btn btn-block btn-large btn-inverse">Suscribirse</a></div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row-fluid pricing">
                    <div class="span4">
                        <div class="well">
                            <h4 class="pricing-plan">Principiante</h4>
                            <h4 class="pricing-price">$9.99 <small>al mes</small></h4>
                            <ul class="pricing-list">
                                <li>5 Artículos</li>
                                <li>5 Invitaciones</li>
                                <li>5 Productos</li>
                                <li>24/7 Soporte</li>
                            </ul>
                            <div class="well"><a href="#" class="btn btn-block btn-large btn-inverse">Suscribirse</a></div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="well featured">
                            <h4 class="pricing-plan">Basico</h4>
                            <h4 class="pricing-price">$9.99 <small>al mes</small></h4>
                            <ul class="pricing-list">
                                <li>5 Artículos</li>
                                <li>5 Invitaciones</li>
                                <li>5 Productos</li>
                                <li>24/7 Soporte</li>
                            </ul>
                            <div class="well"><a href="#" class="btn btn-block btn-large btn-primary">Suscribirse</a></div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="well">
                            <h4 class="pricing-plan">Avanzado</h4>
                            <h4 class="pricing-price">$9.99 <small>al mes</small></h4>
                            <ul class="pricing-list">
                                <li>5 Artículos</li>
                                <li>5 Invitaciones</li>
                                <li>5 Productos</li>
                                <li>24/7 Soporte</li>
                            </ul>
                            <div class="well"><a href="#" class="btn btn-block btn-large btn-inverse">Suscribirse</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- end: Page section -->

    </div>

</div>
<!-- end: Container -->
{% endblock %}