{% extends 'layouts/main.html.twig' %}

{% block head_title %}servicios{% endblock %}

{% block features_active_class %}active{% endblock %}

{% block content %}
<!-- start: Container -->
<div class="container">

    <!-- start: Page header / Breadcrumbs -->
    <section class="breadcrumbs">
        <div class="page-header">
            <h1>Nuestros Servicios<small></small></h1>
        </div>
        <div class="breadcrumbs">
            Usted se encuentra aquí: <a href="#">Inicio</a><i class="icon-angle-right "></i>Nuestros servicios
        </div>
    </section>
    <!-- end: Page header / Breadcrumbs -->

    <div class="row">

        <!-- start: Page section -->
        <section id="page-sidebar" class="pull-left span12">

            <div class="page-inner">
            <div class="sub-inner">
                <div class="row-fluid pull-center">
                    <div class="span12 service">
                        <h2>Curabitur blandit <span class="fg-color-darken">interdum</span> nisi in sagittis?</h2>
                        <p>Duis sed eros metus. Etiam lacinia lacus vel neque dapibus sit amet tempor justo consequat. Suspendisse potenti. Donec sollicitudin porta sollicitudin. Nam tincidunt cursus diam sed condimentum. Ut volutpat accumsan. Nam blandit diam eu odio rutrum rutrum. Fusce venenatis, mi a fringilla eleifend, est diam mollis leo, adipiscing dictum libero justo id tortor. Integer vitae magna vel ante lobortis interdum.</p>
                        <p>
                            <a class="btn btn-info btn-large">Conocer más</a> &nbsp <em class="hidden-phone">–ó–</em> &nbsp <a class="btn btn-danger btn-large">Recibir noticias</a>
                        </p>
                    </div>
                </div>

                <hr/>

                <div class="row-fluid">
                    <div class="span6 service">
                        <h2>Suspendisse potenti</h2>
                        <div class="service-icon"><i class="icon-cog"></i></div>
                        <div class="service-desc">
                            <p>
                                Cras et enim arcu, eu posuere nunc. Mauris aliquet blandit elit ac feugiat. Cras tempus nibh elit, quis tempus est. Ut sapien sem, pharetra eu tristique sit amet, ullamcorper eget purus. Donec augue est, pulvinar a tincidunt at, vulputate sed.
                            </p>
                            <ul class="the-icons">
                                <li><i class="icon-link"></i> Nullam porta diam non sapien gravida</li>
                                <li><i class="icon-link"></i> Phasellus hendrerit tellus sit amet nulla</li>
                                <li><i class="icon-link"></i> Integer volutpat orci in augue adipiscing</li>
                            </ul>
                        </div>
                    </div>
                    <div class="span6 service">
                        <h2>Suspendisse potenti</h2>
                        <div class="service-icon"><i class="icon-cogs"></i></div>
                        <div class="service-desc">
                            <p>
                                Cras et enim arcu, eu posuere nunc. Mauris aliquet blandit elit ac feugiat. Cras tempus nibh elit, quis tempus est. Ut sapien sem, pharetra eu tristique sit amet, ullamcorper eget purus. Donec augue est, pulvinar a tincidunt at, vulputate sed.
                            </p>
                            <ul class="the-icons">
                                <li><i class="iconm-arrow-right-7"></i> Nullam porta diam non sapien gravida</li>
                                <li><i class="iconm-arrow-right-7"></i> Phasellus hendrerit tellus sit amet nulla</li>
                                <li><i class="iconm-arrow-right-7"></i> Integer volutpat orci in augue adipiscing</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="row-fluid">
                    <div class="span4 service">
                        <h3>Nunc vestibulum massa</h3>
                        <p>Donec tristique rhoncus libero vitae cursus. Morbi commodo, massa non lobortis rutrum, tortor risus viverra. Donec cursus fringilla aliquet. </p>
                        <ul>
                            <li>Praesent vestibulum molestie</li>
                            <li>Aenean nonummy hendrerit mauris
                                <ul>
                                    <li>Phasellus porta. Fusce suscipit</li>
                                    <li>Nulla dui. Fusce feugiat</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="span4 service">
                        <h3>Nunc vestibulum massa</h3>
                        <p>Donec tristique rhoncus libero vitae cursus. Morbi commodo, massa non lobortis rutrum, tortor risus viverra. Donec cursus fringilla aliquet. </p>
                        <ol>
                            <li>Praesent vestibulum molestie</li>
                            <li>Aenean nonummy hendrerit mauris</li>
                            <li>Phasellus porta. Fusce suscipit</li>
                            <li>Nulla dui. Fusce feugiat</li>
                        </ol>
                    </div>
                    <div class="span4 service">
                        <h3>Nunc vestibulum massa</h3>
                        <p>Donec tristique rhoncus libero vitae cursus. Morbi commodo, massa non lobortis rutrum, tortor risus viverra. Donec cursus fringilla aliquet. </p>
                        <ul class="unstyled">
                            <li>Praesent vestibulum molestie</li>
                            <li>Aenean nonummy hendrerit mauris
                                <ul>
                                    <li>Phasellus porta. Fusce suscipit</li>
                                    <li>Nulla dui. Fusce feugiat</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>

        </section>
        <!-- end: Page section -->

    </div>

</div>
<!-- end: Container -->
{% endblock %}